{src_dirs, [
    "./src"
]}.
{deps, [
    {jsone,          "1.5.7"},
    {uuid,           {git, "https://github.com/okeuday/uuid.git", {tag, "v2.0.1"}}},
    {bbmustache,     "1.12.1"},
    {cowboy,         "2.8.0"},
    {cowboy_session, {git, "https://github.com/gfngfn/cowboy_session.git", {branch, "master"}}}
]}.
{relx, [
    {release, {tianjiupai, "0.0.1"}, [
        cowboy,
        tianjiupai
    ]},
    {dev_mode, true}
]}.
