{plugins, [{rebar_sesterl, {git, "https://github.com/gfngfn/rebar_sesterl_plugin.git", {branch, "master"}}}]}.
{src_dirs, ["./_generated", "./src", "./src/_generated"]}.
{deps, [
    {sesterl_stdlib, {git, "https://github.com/gfngfn/sesterl_stdlib", {branch, "dev-gen-server-stop"}}},
    {sesterl_json, {git, "https://github.com/gfngfn/sesterl_json", {tag, "v0.0.2"}}},
    {jsone, "1.5.7"},
    {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v2.0.1"}}},
    {bbmustache, "1.12.1"},
    {cowboy, "2.8.0"},
    {cowboy_session, {git, "https://github.com/gfngfn/cowboy_session.git", {branch, "master"}}}
]}.
{profiles, [
    {test, [
        {deps, [{sesterl_testing, {git, "https://github.com/gfngfn/sesterl_testing", {tag, "v0.0.2"}}}]}
    ]},
    {prod, [
        {relx, [
            {mode, prod},
            {release, {tianjiupai, "0.1.0"}, [sasl, jsone, uuid, bbmustache, cowboy, cowboy_session, tianjiupai]},
            {dev_mode, false}
        ]}
    ]}
]}.
{eunit_tests, [{dir, "./_generated_test"}, {dir, "./test"}]}.
{relx, [
    {release, {tianjiupai, "0.1.0"}, [sasl, jsone, uuid, bbmustache, cowboy, cowboy_session, tianjiupai]},
    {dev_mode, true}
]}.
{sesterl_opts, [{output_dir, "./_generated"},{test_output_dir, "./_generated_test"}]}.
