[
    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                config =>
                    #{
%                        file => "/var/log/tianjiupai/applocation.log"
                    },
                formatter =>
                    {logger_formatter, #{
                        template => [time, " ", file, ":", line, " [", level, "] ", msg, "\n"]
                    }}
            }}
        ]}
    ]}
].
