[
    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                config =>
                    #{
%                        type => file,
%                        file => "./application.log"
                    },
                formatter =>
                    {logger_formatter, #{
                        template => [
                            {message_only,
                                [],
                                [time, " [", level, "] ", file, ":", line, " ", pid, " "]
                            },
                            msg, "\n"
                        ]
                    }}
            }}
        ]}
    ]}
].
