[
    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                formatter =>
                    {logger_formatter, #{
                        template => [time, " [", level, "] ", file, ":", line, " ", pid, " ", msg, "\n"]
                    }}
            }},
            {handler, application_log, logger_std_h, #{
                config =>
                    #{
                        type => file,
                        file => "/var/log/tianjiupai/application.log",
                        max_no_bytes => 1000000, % ~1MB
                        max_no_files => 10,
                        compress_on_rotate => true
                    },
                formatter =>
                    {logger_formatter, #{
                        template => [
                            {message_only,
                                [],
                                [time, " [", level, "] ", file, ":", line, " ", pid, " "]
                            },
                            msg, "\n"
                        ]
                    }}
            }}
        ]}
    ]}
].
